html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  vertical-align: top;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;

  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* Шапка */

.header-main {
  margin-bottom: 59px;

  background-color: #f3f7f9;
  border-bottom: 1px solid transparent;
}

.inner .header-main {
  margin-bottom: 20px;
}

.header-top {
  margin-bottom: 48px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-top .container {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo a {
  padding: 13px 54px;

  background-color: #ee3643;
}

.header-logo a[href]:focus,
.header-logo a[href]:hover {
  background-color: #ca2c37;
}

.header-logo a[href]:active {
  background-color: #ba2732;
}

.header-logo::after {
  content: "";

  position: absolute;
  top: 42px;
  left: 0;

  width: 220px;
  height: 5px;

  background-color: #b62430;
}

.header-quicklinks {
  margin-left: auto;

  font-size: 0;
}

.header-quicklink {
  display: inline-block;
  vertical-align: top;
  min-width: 150px;
  padding: 12.5px 20px;

  font-size: 17px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.search-form {
  position: relative;

  width: 270px;
}

.header-main .search-input {
  width: 100%;
  height: 42px;
  padding: 0;
  padding-left: 50px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.search-input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-input:-ms-input-placeholder {
  color: #ffffff;
}

.search-input::-ms-input-placeholder {
  color: #ffffff;
}

.search-input::placeholder {
  color: #ffffff;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 17px;

  opacity: 0.3;

  pointer-events: none;
}

.search-input:hover {
  background-color: #212a3a;
}

.search-input:hover+.search-icon,
.search-input:focus+.search-icon {
  opacity: 1;
}

.search-input:focus {
  color: #000000;
  background-color: #ffffff;
}

.search-input:focus::-webkit-input-placeholder {
  color: #000000;
}

.search-input:focus:-ms-input-placeholder {
  color: #000000;
}

.search-input:focus::-ms-input-placeholder {
  color: #000000;
}

.search-input:focus::placeholder {
  color: #000000;
}

.search-input:focus + .search-icon path {
  fill: #ee3643;
}

.header-order {
  background-color: #63a63e;
}

.header-cart {
  position: relative;

  padding-left: 50px;
}

.header-cart::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 19px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-cart.active {
  background-color: #ee3643;
}

.header-cart.active:focus,
.header-cart.active:hover {
  background-color: #ca2c37;
}

.header-cart.active:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #ba2732;
}

.header-bookmarks {
  position: relative;

  padding-right: 28px;
  padding-left: 43px;
}

.header-bookmarks::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 17px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-bookmark.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.header-bookmarks:focus,
.header-bookmarks:hover,
.header-cart:focus,
.header-cart:hover {
  background-color: #212a3a;
}

.header-bookmarks:focus::before,
.header-bookmarks:hover::before,
.header-cart:focus::before,
.header-cart:hover::before {
  opacity: 1;
}

.header-bookmarks:active::before,
.header-cart:active::before {
  opacity: 0.5;
}

.header-order:focus,
.header-order:hover {
  background-color: #5fbb2d;
}

.header-bookmarks:active,
.header-cart:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-order:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-description {
  width: 200px;
  margin: 0;
  margin-right: 67px;
  margin-left: 53px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 270px;

  text-align: center;
}

.header-phone {
  position: relative;

  display: block;
  margin-bottom: 5px;
  padding-top: 8px;
  padding-right: 49px;
  padding-bottom: 9px;
  padding-left: 72px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 2px solid #ffffff;
}

.header-phone::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 13px;

  width: 19px;
  height: 19px;

  background-image: url(../img/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-address {
  margin: 0;

  font-size: 14px;
  color: #32425c;
}

.user-buttons {
  font-size: 0;
}

.authorized .user-buttons {
  margin-bottom: 7px;
}

.user-buttons li {
  display: inline-block;
  vertical-align: top;
}

.user-button {
  display: block;
  padding: 11px 24px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login-button {
  position: relative;

  margin-right: 10px;
  padding-left: 50px;
}

.login-button-icon {
  position: absolute;
  top: 12px;
  left: 15px;
}

.login-button:focus path,
.login-button:hover path {
  fill: #32425c;
}

.login-button:active path {
  fill: #c5c5c5;
}

.name-button {
  position: relative;

  padding-left: 47px;
}

.name-button-icon {
  position: absolute;
  top: 11px;
  left: 15px;
}

.name-button:focus path,
.name-button:hover path {
  fill: #32425c;
}

.name-button:active path {
  fill: #c5c5c5;
}

.logout-button {
  padding-right: 10px;
  padding-left: 12px;
}

.logout-button:focus path,
.logout-button:hover path {
  fill: #32425c;
}

.logout-button:active path {
  fill: #c5c5c5;
}

.user-navigation {
  margin-left: auto;
}

.user-navigation.authorized {
  width: 300px;
}

.user-buttons,
.personal-buttons {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.personal-buttons {
  padding-left: 17px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.personal-buttons li {
  position: relative;

  display: inline-block;
  vertical-align: top;
  padding-right: 30px;

  text-decoration: underline;
}

.personal-buttons li:nth-child(2)::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -18px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.personal-buttons a:focus,
.personal-buttons a:hover {
  color: #ee3643;
}

.personal-buttons a:active {
  color: rgba(50, 66, 92, 0.3);
}

.unauthorized .user-button:focus,
.unauthorized .user-button:hover {
  color: #ee3643;
}

.unauthorized .user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.authorized .user-button:focus,
.authorized .user-button:hover {
  color: #000000;
}

.authorized .user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Главное меню */

.header-main .main-menu {
  margin-bottom: 60px;

  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.main-menu {
  border-bottom: 5px solid #293449;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0 25px;

  list-style-type: none;
}

.main-menu a {
  display: block;
  padding: 18px 30px;
}

.main-menu a:focus,
.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* Контент главной страницы */

.main-content {
  margin-bottom: 85px;
}

.main-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
}

.promo-block {
  width: 300px;
  margin-bottom: 21px;
  padding: 21px;  

  background-position: 200px 30px;
  background-repeat: no-repeat;
}

.promo-new {
  position: relative;
}

.promo-new::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  height: 59px;
  width: 60px;

  background-image: url(../img/new-flag.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-block h3 {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-block a {
  display: block;
  width: 135px;
  margin-left: 3px;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo-block a:focus,
.promo-block a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-block a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-materials {
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-position: 213px 32px;
}

.promo-tools {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-position: 198px 32px;
}

.promo-tech {
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-position: 190px 32px;
}

.promo-sale {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-position: 195px 27px;
}

.promo-shipping {
  background-color: #ffbf47;
  background-image: url(../img/icon-5.svg);
  background-position: 191px 32px;
}

.promo-slider {
  position: relative;

  width: 620px;
  height: 266px;

  color: #ffffff;

  background-color: #8c7b6d;
}

.promo-slider h3 {
  margin: 0;
  padding: 0;

  font-weight: 700;  
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider p {
  margin: 0;
  padding: 0;
}

.slider-button {
  display: block;
  width: 195px;
  margin-top: 121px;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}

.slider-item {
  display: none;
  padding: 25px;

  background-repeat: no-repeat;
}

.slider-item:first-child {
  display: block;

  background-image: url(../img/slider-1.jpg);
}

.slider-item:nth-child(2) {
  background-image: url(../img/slider-2.jpg);
}

.slider-controls {
  position: absolute;
  bottom: 26px;
  left: 295px;

  font-size: 0;
}

.slider-controls button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;

  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  padding: 0;

  background-color: #ee3643;
  border: 2px solid #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-controls button.active {
  background-color: #ffffff;
}

.button-prev,
.button-next {
  position: absolute;
  top: 113px;

  width: 22px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.button-prev {
  left: 25px;

  background-image: url(../img/icon-left.svg);
}

.button-next {
  right: 20px;

  background-image: url(../img/icon-right.svg);
}

.main-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 25px;

  background-color: #f9f5f0;
}

.main-heading h2 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;

  font-weight: 400;  
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.main-heading .button {
  width: 253px;
  margin-left: auto;
}

.main-products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
}

.main-products-list .catalog-item {
  margin: 0;
}

.main-brands {
  margin-bottom: 65px;
}

.main-brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 1px;
}

.main-brands-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
  list-style-type: none;
}

.main-brands-list li:focus,
.main-brands-list li:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.main-brands-list li:active {
  -webkit-box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.main-services {
  margin-bottom: 80px;
  padding-top: 65px;

  background-color: #f4f7f9;
}

.services-box {
  width: 400px;
  margin-bottom: 70px;
}

.services-description {
  display: inline-block;
  vertical-align: top;
  width: 619px;
  margin-left: 75px;
}

.services-description-text {
  width: 275px;
}

.services-description-item {
  padding-bottom: 128px;

  background-position-x: 100%;
  background-position-y: 22px;
  background-repeat: no-repeat;
}

.services-shipping {
  background-image: url(../img/services-shipping.png);
}

.services-warranty,
.services-credit {
  display: none;
}

.services-list {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 240px;
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}

.services-list::after {
  content: "";

  position: absolute;
  top: -50px;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url(../img/border.png);
  background-repeat: no-repeat;
}

.services-item a {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 16px;  
  padding-left: 21px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 2px solid #4d637d;
}

.services-item:last-child a {
  border-bottom-color: #32425c;
}

.services-item:focus a,
.services-item:hover a {
  background-color: #293449;
}

.services-item.active a,
.services-item:active a {
  color: #32425c;

  background-color: #ffffff;
  border-bottom-color: #ffffff;
}

.main-services h2 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-services h3 {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  font-weight: 400; 
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.main-services p {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-about {
  width: 520px;
}

.main-contacts {
  width: 300px;
}

.main-about h2,
.main-contacts h2 {
  margin: 0;
  margin-bottom: 26px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-about p,
.main-contacts p {
  margin: 0;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
}

.main-about p {
  margin-bottom: 24px;
}

.main-contacts p {
  margin-bottom: 55px;
}

.companies-list {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.companies-list li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 35px;

  line-height: 20px;

  list-style-type: none;
}

.companies-list li::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.button-more {
  width: 220px;
}

.button-contacts {
  width: 100%;
}

.button-more:hover,
.button-more:focus,
.button-contacts:hover,
.button-contacts:focus {
  background-color: #ca2c37;
}

.button-more:active,
.button-contacts:active {
  background-color: #ba2732;
}

.contacts-map {
  margin-bottom: 35px;
}

/* Контент внутренних страниц */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;

  list-style-type: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 3px;
  left: -25px;

  height: 12px;
  width: 8px;

  background-image: url(../img/icon-right-small.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs li:first-child::after {
  display: none;
}

.breadcrumbs-home a {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 15px;

  background-image: url(../img/icon-home.svg);
  background-position: -2px 2px;
  background-repeat: no-repeat;
}

.container h1 {
  width: auto;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;

  font-weight: 400;  
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;

  background-color: #f2f6f8;
}

/* Фильтры каталога */

.filters {
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-heading {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;  
  padding-left: 18px;

  font-weight: 400;  
  font-size: 13px;
  line-height: 18px;

  background-color: #f7f3ec;
}

.filters fieldset {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  border: 0;
}

.filters fieldset:first-child {
  margin-top: 11px;
  padding-bottom: 4px;
}

.filters legend {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 17px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;

  border-top: 2px solid #e5e5e5;
}

.filters label {
  position: relative;

  display: block;
  margin-bottom: 20px;
  padding-left: 35px;

  font-size: 15px;
  line-height: 20px;

  cursor: pointer;
}

.filters label:last-child {
  margin-bottom: 0;
}

.filter-checkbox + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-checkbox:focus + label::before,
.filter-checkbox:hover + label::before {
  background-image: url(../img/checkbox-off-hover.svg);  
}

.filter-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-checkbox:checked:focus + label::before,
.filter-checkbox:checked:hover + label::before {
  background-image: url(../img/checkbox-on-hover.svg);  
}

.filter-radio + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-radio:focus + label::before,
.filter-radio:hover + label::before {
  background-image: url(../img/radio-off-hover.svg);
}

.filter-radio:checked + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-on.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-radio:checked:focus + label::before,
.filter-radio:checked:hover + label::before {
  background-image: url(../img/radio-on-hover.svg);
}

.filter-brands input[disabled] + label,
.filter-charge input[disabled] + label {
  color: rgba(0, 0, 0, 0.4); 
}

.filter-brands input[disabled] + label::before {
  opacity: 0.3;
}

.filter-button {
  margin-top: 76px;
  padding: 10px 37px;

  font-size: 13px;
  font-family: inherit;
  line-height: 18px;
  text-transform: inherit;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;

  cursor: pointer;
}

.filter-button:focus,
.filter-button:hover {
  border-color: #bdc6ca;
}

.filter-button:active {
  border-color: #ee3643;
}

/* Ползунок «Цена» */

.filter-price legend {
  padding-top: 0;
  border: none;
}

.range-controls {
  position: relative;

  width: 100%;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #00ca74;
}

.range-controls .toggle {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;

  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-controls input {
  display: inline-block;
  vertical-align: top;
  width: 95px;
  padding-top: 8px;
  padding-bottom: 11px;

  text-align: center;

  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
}

/* Сортировка */

.sort {
  margin-bottom: 23px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 18px;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.sort-heading {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-right: 137px;

  font-weight: inherit;
  font-size: inherit;
}

.sort-option {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.sort-option:focus,
.sort-option:hover {
  color: #000000;

  border-bottom-style: solid;
}

.sort-option:active,
.sort-option.active {
  color: #ee3643;

  border: none;
}

.sort-ascending,
.sort-descending,
.sort-ascending:focus,
.sort-descending:focus,
.sort-ascending:hover,
.sort-descending:hover {
  border: none;
}

.sort-ascending path,
.sort-descending path {
  fill: rgba(0, 0, 0, 0.3);
}

.sort-ascending:focus path,
.sort-descending:focus path,
.sort-ascending:hover path,
.sort-descending:hover path {
  fill: #000000;
}

.sort-ascending:active path,
.sort-descending:active path,
.sort-ascending.active path,
.sort-descending.active path {
  fill: #ee3643;
}

.sort-price {
  margin-right: 67px;
}

.sort-type {
  margin-right: 62px;
}

.sort-function {
  margin-right: 43px;
}

.sort-ascending {
  margin-right: 18px;
}

/* Каталог товаров */

.catalog {
  width: 700px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
}

.catalog-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  outline: 2px solid #e5e5e5;
  list-style-type: none;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:focus,
.catalog-item:hover {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-new::after {
  content: "";

  position: absolute;
  top: -1px;
  right: -1px;

  height: 59px;
  width: 60px;

  background-image: url(../img/new-flag.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.catalog-image-container {
  padding: 30px 50px 30px 40px;
}

.catalog-item h3,
.catalog-item .old-price,
.catalog-item .new-price {
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.catalog-item h3 {
  max-width: 157px;
  margin: 0 auto;
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.catalog-item .old-price,
.catalog-item .new-price {
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  margin-bottom: 12px;

  color: #999999;
  text-decoration: line-through;
}

.new-price {
  width: 141px;
  padding: 10px;
  margin-top: auto;
  margin-left: 5px;
  margin-bottom: 20px;

  color: #ffffff;
  text-align: center;

  background-image: url(../img/red-button.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.catalog-item-buttons {
  display: none;
}

.catalog-item:focus .catalog-item-buttons,
.catalog-item:hover .catalog-item-buttons {
  position: absolute;

  display: block;
  width: 220px;
  padding: 43px;

  background-color: #ffffff;
}

.catalog-item-button {
  display: inline-block;
  vertical-align: top;
  width: 135px;
  padding: 9px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border: none;
  border-radius: 3px;

  cursor: pointer;
}

.catalog-item-order {
  position: relative;

  margin-bottom: 8px;

  color: #ffffff;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
}

.catalog-item-order:focus,
.catalog-item-order:hover {
  background-color: #5fbb2d;
}

.catalog-item-order:active {
  background-color: #518534;
  border-color: #518534;
}

.catalog-item-order::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 14px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.catalog-item-order:focus::before,
.catalog-item-order:hover::before,
.catalog-item-order:active::before {
  opacity: 1;
}

.catalog-item-bookmark {
  padding: 8px;

  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.catalog-item-bookmark:focus,
.catalog-item-bookmark:hover {
  border-color: #32425c;
}

.catalog-item-bookmark:active {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}

.catalog-description {
  width: 100%;
  padding-top: 65px; 
  padding-bottom: 70px;

  background-color: #f4f7f9;
}

.catalog-description p {
  margin: 0;

  font-size: 13px;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 24px;
}

.catalog-description h2 {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.pagination {
  margin-bottom: 70px; 

  font-size: 13px;  
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item {
  margin-right: 8px;
  padding: 10px 15px;

  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.pagination-next {
  padding: 10px 30px;
}

.pagination-current {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.pagination-item:focus,
.pagination-item:hover {
  border-color: #bdc6ca;
}

.pagination-item:active {
  border-color: #ee3643;
}

/* Футер */

.footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  color: #f3f7f9;

  background-color: #32425c;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-logo {
  position: relative;

  margin-right: 173px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-right: 41px;
  padding-bottom: 15px;
  padding-left: 41px;

  background-color: #ee3643;
}

.footer-logo::after {
  content: "";

  position: absolute;
  top: 63px;
  left: 0;

  width: 220px;
  height: 5px;

  background-color: #b62430;
}

.footer-contacts {
  width: 325px;
  margin: 0px;
  margin-right: 86px;
  margin-left: 4px;
}

.footer-phone {
  display: block;

  color: #ffffff;
  text-decoration: none;
}

.footer-menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 547px;
  margin: 0;
  margin-top: 38px;
  padding: 0;
}

.footer-menu-main,
.footer-menu-extra {
  list-style-type: none;
}

.footer-menu-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 525px;
  margin: 0;
  padding: 0;

  color: #ffd180;
}

.footer-menu-main a:focus,
.footer-menu-main a:hover,
.footer-menu-extra a:focus,
.footer-menu-extra a:hover {
  text-decoration: underline;
}

.footer-menu-main a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-menu-extra a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  margin-top: 50px;
  padding: 35px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom p {
  margin-top: 4px;
}

.footer-copyright {
  width: 230px;
  margin: 0;
  margin-right: 160px;
}

.footer-dev-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 286px;
  margin-right: 15px;
  margin-left: auto;
}

.footer-feedback,
.footer-developer {
  margin: 0;
}

.footer-developer {
  margin-left: 55px;
}

.footer-feedback a,
.footer-developer a {
  color: #ffd180;
}

.footer-feedback a:focus,
.footer-feedback a:hover,
.footer-developer a:focus,
.footer-developer a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: #ee3643;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;

  color: #ffffff;

  background-color: #212a3a;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social-button:focus,
.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.social-button-vk {
  background-image: url(../img/icon-vk.svg);
}

.social-button-fb {
  background-image: url(../img/icon-fb.svg);
}

.social-button-insta {
  background-image: url(../img/icon-insta.svg);
}

/* Модальные окна */

.modal {
  position: fixed;
  top: 165px;

  display: none;

  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;
  padding: 0;

  background-color: transparent;
  background-image: url(../img/icon-close.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  border: none;

  cursor: pointer;
}

.modal-map {
  left: 50%;

  margin-left: -470px;
}

.modal-map iframe {
  display: block;
}

.modal-feedback {
  left: 50%;

  width: 620px;  
  margin-left: -310px;

  border-top: 7px solid #ee3643;
}

.modal-container {
  padding-top: 45px;
  padding-right: 80px;
  padding-bottom: 20px;
  padding-left: 80px;
}

.modal-field {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 19px;
}

.name-field {
  margin-right: 15px;
}

.modal-field input,
.modal-field textarea {
  display: block;
  margin-top: 7px;
  padding: 7px 13px;

  font-size: 13px;  
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  color: #a9a9a9;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.modal-field input {
  width: 220px;
}

.modal-field textarea {
  width: 460px;
  margin-bottom: 0;
  padding-bottom: 15px;
}

.modal-field input:focus,
.modal-field input:hover,
.modal-field textarea:focus,
.modal-field textarea:hover {
  border-color: #b5b5b5;
}

.modal-field input:active,
.modal-field textarea:active {
  border-color: #ee3643;
}

.modal-button-container {
  width: 100%;
  padding-top: 33px;
  padding-right: 80px;
  padding-bottom: 38px;
  padding-left: 80px;

  background-color: #f4f4f4;
}

.modal-feedback .button-submit {
  width: 100%;
}

.modal-cart {
  left: 50%;

  width: 620px;  
  margin-left: -310px;

  border-top: 7px solid #ee3643;
}

.modal-cart .modal-container {
  padding-bottom: 45px;
}

.modal-cart .modal-button-container {
  padding-top: 40px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;

  font-size: 0;
}

.modal-cart h2 {
  position: relative;

  margin: 0;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 99px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.modal-cart h2::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 1px;

  width: 66px;
  height: 66px;

  background-image: url(../img/icon-order.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.button-order,
.button-dismiss {
  width: 220px;

  font-size: 14px;
}

.button-dismiss {
  margin-left: 20px;

  color: #000000;

  background-color: #ffffff;
}

.button-dismiss:focus,
.button-dismiss:hover {
  color: #ee3643;

  background-color: #ffffff;
}

.button-dismiss:active {
  color: rgba(0, 0, 0, 0.3);
  
  background-color: #ffffff;
}