body {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal {
  display: none;
}

.container {
  width: 940px;
  margin: 0 auto;

}

/* Шапка */

.header-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  background-color: #f3f7f9;
}

.inner .header-main {
  margin-bottom: 20px;
}

.header-top {
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.header-top .container {
  display: flex;
  position: relative;
  align-items: center;
}

.header-logo {
  padding: 13px 55px 7px 55px;
  background-color: #ee3643;
}

.header-logo::after {
  content: '';
  position: absolute;
  top: 42px;
  left: 0;
  width: 220px;
  height: 5px;
  background-color: #b62430;
}

.header-quicklinks {
  margin-left: auto;
}

.header-quicklinks a {
  padding: 12px 20px;
}

.header-bottom {
  display: flex;
  margin-bottom: 40px;
}

.header-main .search-input {
  color: #ffffff;
  background-color: #293449;
}

.search-form {
  position: relative;
  padding-left: 50px;
}

.search-form::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 18px;
  width: 17px;
  height: 17px;
  background-image: url(../img/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-order {
  background-color: #63a63e;
}

a.header-cart {
  position: relative;
  padding-left: 50px;
  padding-right: 30px;
}

.header-cart::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-cart.active {
  background-color: #ee3643;
}

.header-cart.active:focus,
.header-cart.active:hover {
  background-color: #ca2c37;
}

.header-cart.active:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #ba2732;
}

a.header-bookmarks {
  position: relative;
  padding-left: 50px;
  padding-right: 30px;
}

.header-bookmarks::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-bookmarks:focus,
.header-bookmarks:hover,
.header-cart:focus,
.header-cart:hover,
.header-main .search-input:focus,
.header-main .search-input:hover {
  background-color: #212a3a;
}

.header-bookmarks:focus::before,
.header-bookmarks:hover::before,
.header-cart:focus::before,
.header-cart:hover::before,
.search-form:focus::before,
.search-form:hover::before {
  opacity: 1;
}

.header-bookmarks:active::before,
.header-cart:active::before {
  opacity: 0.5;
}

.header-order:focus,
.header-order:hover {
  background-color: #5fbb2d;
}

.header-bookmarks:active,
.header-cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-description {
  width: 200px;
  margin: 0 70px 0 53px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  text-align: center;
}

.header-phone {
  display: block;
  position: relative;
  padding: 11px 50px 11px 72px;
  margin-bottom: 10px;
  border: 2px solid #ffffff;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-phone::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  margin: 0;
  font-size: 14px;
  color: #32425c;
}

.user-buttons li {
  display: inline-block;
  vertical-align: top;
}

.user-button {
  display: block;
  padding: 11px 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-button {
  position: relative;
  margin-right: 10px;
  padding-left: 50px;
}

.login-button::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation {
  margin-left: auto;
}

/*
.user-navigation.unauthorized {
  width: 230px;
}
*/

.user-navigation.authorized {
  width: 300px;
}

.user-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.personal-buttons {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.personal-buttons a:focus,
.personal-buttons a:hover {
  color: #ee3643;
}

.personal-buttons a:active {
  color: rgba(50, 66, 92, 0.3);
}

.unauthorized .user-button:focus,
.unauthorized .user-button:hover {
  color: #ee3643;
}

.unauthorized .user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.authorized .user-button:focus,
.authorized .user-button:hover {
  color: #000000;
}

.authorized .user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Главное меню */

.header-main .main-menu {
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.main-menu {
  border-bottom: 5px solid #293449;
}

.main-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 25px;
  list-style-type: none;
}

.main-menu a {
  display: block;
  padding: 20px 30px;
}

.main-menu a:focus,
.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.main-about {
  width: 520px;
}

.main-contacts {
  width: 300px;
}

.main-about h2,
.main-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-about p,
.main-contacts p {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
}

/* Контент главной страницы */

.container h2 {
  margin: 0;
  margin-bottom: 35px;
}

.companies-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.companies-list li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
  list-style-type: none;
  line-height: 20px;
}

.companies-list li::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.button-more,
.button-contacts {
  display: inline-block;
  padding: 12px 40px;
  border: 0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  cursor: pointer;
}

.button-more:hover,
.button-more:focus,
.button-contacts:hover,
.button-contacts:focus {
  background-color: #ca2c37;
}

.button-more:active,
.button-contacts:active {
  background-color: #ba2732;
}

.contacts-map {
  margin-bottom: 40px;
}

/* Контент внутренних страниц */

.breadcrumbs {
  margin: 0 0 0 25px;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
}

.container h1 {
  width: auto;
  margin: 0 0 20px 0;
  padding: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.filters {
  width: 220px;
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filters label {
  font-size: 15px;
  line-height: 20px;
}

.filters .filter-button {
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  text-transform: inherit;
}

.catalog {
  width: 700px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 220px;
  margin: 0 20px 20px 0;
  outline: 2px solid #e5e5e5;
  list-style-type: none;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-content-container {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
}

.catalog-content-container h3 {
  margin: 0;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.catalog-item-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  margin-bottom: 13px;
  color: #999999;
  text-decoration: line-through;
}

.new-price {
  padding: 10px 40px 10px 36px;
  margin-bottom: 20px;
  color: #ffffff;
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item-buttons {
  display: none;
}

.catalog-item-buttons button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item-order {
  color: #ffffff;
  background-color: #63a63e;
}

.catalog-item-order:focus,
.catalog-item-order:hover {
  background-color: #5fbb2d;
}

.catalog-item-order:active {
  background-color: #518534;
}

.catalog-item-bookmark {
  color: #32425c;
  background-color: #ffffff;
}

.catalog-item-bookmark:focus,
.catalog-item-bookmark:hover {
  /* Стили рамки при наведении */
}

.catalog-item-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
}

/* Футер */

.footer-main {
  display: flex;
  flex-direction: column;
  margin-top: 86px;
  color: #f3f7f9;
  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-logo {
  position: relative;
  margin-right: 170px;
  margin-bottom: 30px;
  padding: 20px 41px;
  background-color: #ee3643;
}

.footer-logo::after {
  content: '';
  position: absolute;
  top: 68px;
  left: 0;
  width: 220px;
  height: 5px;
  background-color: #b62430;
}

.footer-contacts {
  width: 325px;
  margin: 0 90px 0 0;
}

.footer-menu-main {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin: 42px 0 0;
  padding: 0;
}

.footer-menu-main,
.footer-menu-extra {
  list-style-type: none;
}

.footer-menu-extra {
  display: flex;
  justify-content: space-between;
  width: 525px;
  margin: 0;
  padding: 0;
  color: #ffd180;
}

.footer-menu-main a:focus,
.footer-menu-main a:hover,
.footer-menu-extra a:focus,
.footer-menu-extra a:hover {
  text-decoration: underline;
}

.footer-menu-main a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-menu-extra a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  margin-top: 50px;
  padding: 40px 0 35px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
}

.footer-copyright {
  width: 230px;
  margin: 0 160px 0 0;
}

.footer-dev-contacts {
  display: flex;
  justify-content: space-between;
  width: 290px;
  margin-left: auto;
  padding-right: 15px;
}

.footer-feedback,
.footer-developer {
  margin: 0;
}

.footer-feedback a,
.footer-developer a {
  color: #ffd180;
}

.footer-feedback a:focus,
.footer-feedback a:hover,
.footer-developer a:focus,
.footer-developer a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: #ee3643;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #212a3a;
}

.social-button:focus,
.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}
