html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal {
  display: none;
}

.container {
  width: 940px;
  margin: 0 auto;

}

/* Шапка */

.header-main {
  margin-bottom: 59px;
  border-bottom: 1px solid transparent;
  background-color: #f3f7f9;
}

.inner .header-main {
  margin-bottom: 20px;
}

.header-top {
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.header-top .container {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 13px 55px 7px 55px;
  background-color: #ee3643;
}

.header-quicklinks {
  margin-left: auto;
}

.header-bottom {
  display: flex;
  margin-bottom: 40px;
}

.header-main .search-input {
  margin-left: 45px;
  color: #ffffff;
  background-color: #293449;
}

.header-order {
  background-color: #63a63e;
}

.header-cart.active {
  background-color: #ee3643;
}

.header-cart.active:focus,
.header-cart.active:hover {
  background-color: #ca2c37;
}

.header-cart.active:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #ba2732;
}

.header-bookmarks:focus,
.header-bookmarks:hover,
.header-cart:focus,
.header-cart:hover,
.header-main .search-input:focus,
.header-main .search-input:hover {
  background-color: #212a3a;
}

.header-order:focus,
.header-order:hover {
  background-color: #5fbb2d;
}

.header-bookmarks:active,
.header-cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.header-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-description {
  width: 200px;
  margin: 0 70px 0 53px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  text-align: center;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-address {
  margin: 0;
  font-size: 14px;
  color: #32425c;
}

.user-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation {
  margin-left: auto;
}

.user-navigation.unauthorized {
  width: 230px;
}

.user-navigation.authorized {
  width: 300px;
}

.user-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.personal-buttons {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.personal-buttons a:focus,
.personal-buttons a:hover {
  color: #ee3643;
}

.personal-buttons a:active {
  color: rgba(50, 66, 92, 0.3);
}

.unauthorized .user-button:focus,
.unauthorized .user-button:hover {
  color: #ee3643;
}

.unauthorized .user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.authorized .user-button:focus,
.authorized .user-button:hover {
  color: #000000;
}

.authorized .user-button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Главное меню */

.header-main .main-menu {
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.main-menu ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 25px 52px;
  list-style-type: none;
}

.main-menu a:focus,
.main-menu a:hover {
  background-color: #293449;
}

.main-menu a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.index-columns {
  display: flex;
  justify-content: space-between;
}

.main-about {
  width: 520px;
}

.main-contacts {
  width: 300px;
}

.main-about h2,
.main-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-about p,
.main-contacts p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
}

/* Контент главной страницы */

.companies-list li {
  line-height: 20px;
}

.button-more,
.button-contacts {
  font-size: 14px;
  line-height: 17, 5px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

/* Контент внутренних страниц */

.breadcrumbs {
  margin: 0 0 0 25px;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style-type: none;
}

.container h1 {
  width: auto;
  margin: 0 0 20px 0;
  padding: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.filters {
  width: 220px;
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.filters label {
  font-size: 15px;
  line-height: 20px;
}

.filters .filter-button {
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  background-color: #ffffff;
  text-transform: inherit;
}

.catalog {
  width: 700px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 220px;
  margin: 0 20px 20px 0;
  list-style-type: none;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-content-container {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
}

.catalog-content-container h3 {
  font-size: 18px;
  line-height: 20px;
}

.catalog-item-price {
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  color: #999999;
  text-decoration: line-through;
}

.new-price {
  color: #ffffff;
  background-color: #ee3341;
}

.catalog-item-buttons button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item-order {
  color: #ffffff;
  background-color: #63a63e;
}

.catalog-item-order:focus,
.catalog-item-order:hover {
  background-color: #5fbb2d;
}

.catalog-item-order:active {
  background-color: #518534;
}

.catalog-item-bookmark {
  color: #32425c;
  background-color: #ffffff;
}

.catalog-item-bookmark:focus,
.catalog-item-bookmark:hover {
  /* Стили рамки при наведении */
}

.catalog-item-bookmark:active {
  color: rgba(50, 66, 92, 0.3);
}

/* Футер */

.footer-main {
  display: flex;
  flex-direction: column;
  margin-top: 86px;
  color: #f3f7f9;
  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-logo {
  margin-right: 170px;
  margin-bottom: 30px;
  padding: 20px 40px;
  background-color: #ee3643;
}

.footer-contacts {
  width: 325px;
  margin: 0 90px 0 0;
}

.footer-menu-main {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin: 42px 0 0;
  padding: 0;
}

.footer-menu-main,
.footer-menu-extra {
  list-style-type: none;
}

.footer-menu-extra {
  display: flex;
  justify-content: space-between;
  width: 525px;
  margin: 0;
  padding: 0;
  color: #ffd180;
}

.footer-menu-main a:focus,
.footer-menu-main a:hover,
.footer-menu-extra a:focus,
.footer-menu-extra a:hover {
  text-decoration: underline;
}

.footer-menu-main a:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-menu-extra a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  margin-top: 50px;
  padding: 40px 0 35px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
}

.footer-copyright {
  width: 230px;
  margin: 0 160px 0 0;
}

.footer-dev-contacts {
  display: flex;
  justify-content: space-between;
  width: 290px;
  margin-left: auto;
  padding-right: 15px;
}

.footer-feedback,
.footer-developer {
  margin: 0;
}

.footer-feedback a,
.footer-developer a {
  color: #ffd180;
}

.footer-feedback a:focus,
.footer-feedback a:hover,
.footer-developer a:focus,
.footer-developer a:hover {
  text-decoration: underline;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: #ee3643;
}

.footer-social ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-bottom .social-button {
  color: #ffffff;
  background-color: #212a3a;
}

.footer-bottom .social-button:focus,
.footer-bottom .social-button:hover,
.footer-bottom .social-button:active {
  background-color: #ee3643;
}
